/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping_term_ms = <200>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
  &trans  &kp Q        &kp W &kp E &kp R &kp T       &kp Y &kp U  &kp I      &kp O   &kp P             &trans
  &trans  &mt LSHFT A  &kp S &kp D &kp F &kp G       &kp H &kp J  &kp K      &kp L   &mt RSHFT SEMI    &trans
  &trans  &mt LWIN Z   &kp X &kp C &kp V &kp B       &kp N &kp M  &kp COMMA  &kp DOT &mt RWIN FSLH     &trans
                        &kp LALT  &mo 1 &kp SPACE     &kp BSPC &mo 2 &kp RALT
                        >;
                };
              lower_layer {
                        bindings = <
  &bt BT_CLR  &kp N1          &kp N2    &kp N3    &kp N4      &kp N5          &kp N6      &kp N7     &kp N8      &kp N9      &kp N0           &trans
  &trans      &mt LSHFT EXCL  &kp AT    &kp HASH  &kp DLLR    &kp PRCNT       &kp CARET   &kp AMPS   &kp STAR    &kp LPAR    &mt RSHFT RPAR   &trans
  &trans      &mt LWIN ESC    &kp TAB   &kp CAPS  &kp TILDE   &kp GRAVE       &kp SQT     &trans     &trans      &trans      &kp RWIN         &trans
                                               &kp LWIN &trans &kp SPACE   &kp ENTER &trans &trans
                        >;
                };

                raise_layer {
                        bindings = <
    &trans     &kp MINUS         &kp EQUAL   &kp LBKT   &kp RBKT   &kp BSLH      &trans    &trans     &trans     &trans   &trans  &trans
    &trans     &mt LSHFT UNDER   &kp PLUS    &kp LBRC   &kp RBRC   &kp PIPE      &trans    &kp UP     &trans     &trans   &trans  &trans
    &trans     &kp F1            &kp F2      &kp F3     &kp F4     &kp F5        &kp LEFT  &kp DOWN   &kp RIGHT  &trans   &trans  &trans
                                                    &trans &trans &kp SPACE   &kp ENTER &trans &kp RALT
                        >;
                };
        };
};
