#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


//&mt {
//    tapping_term_ms = <190>;
//};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &trans    &kp Q           &kp W    &kp E    &kp R    &kp T          &kp Y    &kp U     &kp I       &kp O      &kp P            &trans
   &trans    &mt MOD_LSFT A  &kp S    &kp D    &kp F    &kp G          &kp H    &kp J     &kp K       &kp L      &mt MOD_RSFT SCLN    &trans
   &trans    &mt MOD_GUI Z   &kp X    &kp C    &kp V    &kp B          &kp N    &kp M     &kp CMMA    &kp DOT    &mt MOD_GUI FSLH     &trans
                                      &kp LGUI &mo 1    &kp SPC        &kp BKSP &mo 2     &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | CTRL |     |     |     |     |     |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans     &kp NUM_1   &kp NUM_2    &kp NUM_3  &kp NUM_4   &kp NUM_5        &kp NUM_6    &kp NUM_7    &kp NUM_8    &kp NUM_9    &kp NUM_0    &trans
   &kp LSFT   &kp BANG    &kp ATSN     &kp HASH   &kp CURU    &kp PRCT         &kp CRRT     &kp AMPS     &kp KMLT     &kp LPRN     &kp RPRN     &trans
   &trans     &kp ESC     &kp TAB      &kp 0x39   &kp TILD    &kp GRAV         &kp QUOT     &trans       &trans       &trans       &trans       &trans
                                       &kp RSFT   &trans      &kp SPC          &kp RET      &trans       &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |  ~   | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans    &trans      &trans      &trans     &trans    &trans          &trans    &trans      &trans    &trans   &trans   &trans
   &trans    &trans      &trans      &kp A      &trans    &trans          &trans    &kp UAWR    &trans    &trans   &trans   &trans
   &trans    &trans      &trans      &trans     &trans    &trans          &kp LARW  &kp DARW    &kp RAWR  &trans   &trans   &trans
                                     &kp LGUI   &trans    &kp SPC         &kp RET   &trans   &trans
                        >;
                };
        };
};
