#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &trans    &kp Q          &kp W    &kp E    &kp R    &kp T          &kp Y    &kp U     &kp I       &kp O      &kp P                &kp 0x46
   &trans    &mt MOD_LSFT A &kp S    &kp D    &kp F    &kp G          &kp H    &kp J     &kp K       &kp L      &mt MOD_RSFT SCLN    &trans
   &trans    &kp Z          &kp X    &kp C    &kp V    &kp B          &kp N    &kp M     &kp CMMA    &kp DOT    &kp FSLH             &trans
                                     &kp LGUI &mo 1    &kp SPC        &kp BKSP &mo 2     &KP RALT
                        >;
                };
                lower_layer {
                        bindings = <
   &trans     &kp NUM_1   &kp NUM_2    &kp NUM_3  &kp NUM_4   &kp NUM_5        &kp NUM_6    &kp NUM_7    &kp NUM_8    &kp NUM_9    &kp NUM_0    &trans
   &trans     &kp BANG    &kp ATSN     &kp HASH   &kp CURU    &kp PRCT         &kp CRRT     &kp AMPS     &kp KMLT     &kp LPRN     &kp RPRN     &trans
   &trans     &kp ESC     &kp TAB      &kp 0x39   &kp TILD    &kp GRAV         &kp QUOT     &trans       &kp 0x81     &kp 0x48     &kp 0x80     &trans
                                       &kp RSFT   &trans      &kp SPC          &kp RET      &trans       &kp RALT
                        >;
                };

                raise_layer {
                        bindings = <
   &trans    &kp MINUS   &kp EQL     &kp 0x2F   &kp 0x30  &kp BSLH        &trans    &trans    &trans    &trans   &trans   &trans
   &kp LSFT  &trans      &kp 0x2E    &kp LBKT   &kp RBKT  &kp PIPE        &trans    &trans    &trans    &trans   &trans   &trans
   &trans    &trans      &trans      &trans     &trans    &trans          &trans    &trans    &trans    &trans   &trans   &trans
                                     &kp LGUI   &trans    &kp SPC         &kp RET   &trans   &trans
                        >;
                };
        };
};
